@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display =intercambiar');


.body-favoritos{
    padding-top: 8vh;
    margin-left: 1.5vw;
    background-color: #FFFFFF;
    height: 100vh;
    width: 95vw;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Inter UI', sans-serif;
}

#title-main{
    color: #FF9F49;
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 600;
    margin-left: 2.5vw;
    font-size: 1.8rem;
}

#textito{
    color: #6F6F6F;
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 500;
    margin-left: 2.5vw;
    font-size: 1.3rem;
}

.container-tipos-favs {
    display: flex; /* Establece el contenedor como un flex container */
    margin-bottom: 0;
    padding: 0;
    top: 0;
    margin-top: -3rem;
    overflow-x: hidden;
}
  
.column-favs {
    flex: 1; /* Las columnas ocuparán el mismo espacio */
    margin: 0 10px; /* Margen entre las columnas */
    overflow-x: hidden;
    padding: 10px; /* Espacio interno dentro de las columnas */
}

.tipo{
    padding-top: 10%;
    font-family: "Baloo Thambi 2", system-ui;
    text-align: center;
    font-size: x-large;
}

#sin-at{
    color: #FF674F;
}

#en-at{
    color: #FFC63D;
}

#at{
    color: #A4DF77;
}

.container-reportes-favs {
    display: flex; /* Establece el contenedor como un flex container */
    margin-bottom: 15%;
    margin-top: -10%;
    overflow-y: auto;
    overflow-x: hidden;
}

.reportes-boxes-favs{
    flex: 1;
    overflow-y: auto; /* Agrega scroll vertical si el contenido es más largo que el área visible */
    width: 100%;
    overflow-x: hidden;
    
}

.box2-favs{
    break-inside: avoid; /* Evita que los divs se rompan en medio de las columnas */
    width: 100%;
    padding: 6%;
    border-radius: 6vh;
    margin-bottom: 10%;
    background-color: #F1F1F1;
    display: flex;
    box-sizing: border-box;
}

.container-reportes-favs h3{
    font-size: 1.3rem;
    color: #FF7A3E;
    font-family: "Baloo Thambi 2", system-ui;
    overflow-x: hidden;
    top: 0;
    margin-top: 35px;
}

.copy {
    transition: transform 0.3s ease;
}

/*.main-containerReportes:hover .copy {
    transform: translateY(100px); 
    transform: translateX(200px);
    transform: translateZ(300px);
}   /* O cualquier transformación que desees */

/*-----------------------Reportes------------------------*/
.column-favs-left{
    width: 45%;
    height: 100%;
    background: #F1F1F1;
}

.fotografía-favs{
    width: 100%;
    height: 45vh;
    background-color: #ffffff;
    border-radius: 4vh;
    margin-bottom: 15px;
}

.column-favs-left-inferior{
    height: 30px;
    width: 100%;
    background-color: #F1F1F1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecha-favs {
    width: 90%;
    border-radius: 5vh;
    height: 2.5vh;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    display: flex;
    color: #1E1E1E;
    font-weight:400;
    font-size: large;
    padding-top: 9px;
}

.contador-favs{
    margin-left: 10%;
    margin-top: -1%;
    width: 20%;
    display:inline-block;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
    color:#949494;
    font-weight:900;
}

.icon-favs{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 70%;
    width: 100%;
}

.logo-favs{
    width: 30px;
    margin-bottom: 7px;
}

.number-favs{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: -7px;
}

.column-favs-right{
    width: 50%;
    margin-left: 5%;
    padding: 0;
    height: auto;
    position: relative;
}

.column-favs-right-superior{
    width: 100%;
    display: flex;
    height: 40px;
    position: absolute;
}

.estado-favs{
    width: 75%;
    border-radius: 5vh;
    height: 4vh;
    background-color: #ffffff;
}

#estado-sin-at{
    background-color: #FF674F;
}

#estado-en-at{
    background-color: #FFC63D;
}

#estado-at{
    background-color: #A4DF77;
}

.guardar-favs{
    height: 4.3vh;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.icon-favs-star{
    height: 90%;
    align-self: center;
    justify-self: end;
}

.ubicacion-favs{
    width: 100%;
    height: 40%;
    display: block;
}

.box-ubi-favs{
    height: 75%;
    background-color: #ffffff;
    border-radius: 3vh;
    margin-top: -15px;
    padding: 15px;
}

.descripcion-favs{
    margin-top: 10%;
    width: 100%;
    height: 40%;
}

.box-des-favs{
    height: 45%;
    background-color: #ffffff;
    margin-top: -15px;
    border-radius: 3vh;
    padding: 15px;
}

.scrollable-section-favs {
    overflow-y: auto; /* Agrega scroll vertical si el contenido es más largo que el área visible */
    height: calc(100vh - 100px); /* Ajusta la altura para que ocupe el resto de la ventana después de los títulos */
    padding-top: 100px; /* Asegura que el contenido no se oculte debajo de los títulos fijos */
    transition: opacity 2s ease;
    margin-top: 0;
    overflow-x: hidden;

}

.titles {
    transition: opacity 2s ease;
  }
  
  .titles.hide {
    opacity: 0;
  }
  
  .titles.show {
    opacity: 1;
  }

  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de la esquina de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9; /* Color de la barra de desplazamiento al pasar el mouse sobre ella */
}