@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400..800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display =intercambiar');


.body-favoritos{
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 8vh;
    margin-left: 1.5vw;
    height: 100vh;
    width: 95vw;
    background-color: var(--background-color);
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Inter UI', sans-serif;
    scroll-behavior: smooth;
}

.titles {
    width: 88%;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    height: auto;
    border-radius: 6vh;
    margin-left: 3vw;
    margin-top: 5vh;
    background-color: var(--background-color-2);
    position: relative;
}


#title-main{
    color: #FFC63D;
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 600;
    margin-left: 2.5vw;
    font-size: 1.5rem;
}

#textito{
    color: var(--text-color);
    font-family: "Baloo Thambi 2", system-ui;
    font-weight: 500;
    margin-top: -10px;
    margin-left: 2.5vw;
    font-size: 1.3rem;
}

.container-tipos-favs {
    display: flex; /* Establece el contenedor como un flex container */
    margin-bottom: 0;
    padding: 0;
    top: 0;
    margin-top: -2rem;
    overflow-x: hidden;
}
  
.column-favs {
    flex: 1; /* Las columnas ocuparán el mismo espacio */
    margin: 0 15px; /* Margen entre las columnas */
    overflow-x: hidden;
}

.tipo{
    padding-top: 10%;
    font-family: "Baloo Thambi 2", system-ui;
    text-align: center;
    font-size: x-large;
}

#sin-at{
    color: #FF674F;
}

#en-at{
    color: #FFC63D;
}

#at{
    color: #A4DF77;
}

.container-reportes-favs {
    display: flex; /* Establece el contenedor como un flex container */
    margin-bottom: 15%;
    margin-top: -8%;
    overflow-y: auto;
    overflow-x: hidden;
}

.reportes-boxes-favs{
    flex: 1;
    overflow-y: auto; /* Agrega scroll vertical si el contenido es más largo que el área visible */
    width: 100%;
    overflow-x: hidden;
}

.box2-favs{
    break-inside: avoid; /* Evita que los divs se rompan en medio de las columnas */
    width: 100%;
    padding: 6%;
    border-radius: 6vh;
    margin-bottom: 10%;
    background-color: var(--background-color-2);
    display: flex;
    box-sizing: border-box;
}

.container-reportes-favs h3{
    font-size: 1.3rem;
    color: #FF7A3E;
    font-family: "Baloo Thambi 2", system-ui;
    overflow-x: hidden;
    top: 0;
    margin-top: 35px;
}

.copy {
    transition: transform 0.3s ease;
}

/*.main-containerReportes:hover .copy {
    transform: translateY(100px); 
    transform: translateX(200px);
    transform: translateZ(300px);
}   /* O cualquier transformación que desees */

/*-----------------------Reportes------------------------*/
.column-favs-left{
    width: 45%;
    height: 100%;
}

.fotografía-favs{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    margin-bottom: 15px;
}

.column-favs-left-inferior{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fecha-favs {
    width: 90%;
    border-radius: 5vh;
    height: 2.5vh;
    background-color: var(--background-color-4);
    justify-content: center;
    text-align: center;
    display: flex;
    color: var(--text-color);
    font-weight:400;
    font-size: large;
    padding: 10px;
}

.contador-favs{
    margin-left: 10%;
    margin-top: 15%;
    width: 20%;
    display:inline-block;
    align-items: center;
    justify-content: center;
    color:#949494;
    font-weight:900;
}

.icon-favs{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    height: 70%;
    width: 100%;
}

.logo-favs{
    width: 30px;
    margin-bottom: 7px;
}

.number-favs{
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    margin-top: -7px;
}

.column-favs-right{
    width: 50%;
    margin-left: 5%;
    padding: 0;
    height: auto;
    position: relative;
}

.column-favs-right-superior{
    width: 100%;
    display: flex;
    height: 40px;
    position: absolute;
}

.estado-favs{
    width: 75%;
    border-radius: 5vh;
    height: 4vh;
    background-color: #ffffff;
}

#estado-sin-at{
    background-color: #FF674F;
}

#estado-en-at{
    background-color: #FFC63D;
}

#estado-at{
    background-color: #A4DF77;
}

.guardar-favs{
    height: 4.3vh;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
}

.icon-favs-star{
    height: 30px;
    align-self: center;
    justify-self: end;
}

.ubicacion-favs{
    width: 100%;
    height: 40%;
    display: block;
}

.box-ubi-favs{
    height: 75%;
    background-color: var(--background-color-4);
    border-radius: 3vh;
    margin-top: -15px;
    padding: 15px;
    color: var(--text-color);
}

.descripcion-favs{
    margin-top: 10%;
    width: 100%;
    height: 40%;
}

.box-des-favs{
    height: 45%;
    background-color: var(--background-color-4);
    margin-top: -15px;
    border-radius: 3vh;
    color: var(--text-color);
    padding: 15px;
}

.scrollable-section-favs {
    overflow-y: auto; /* Agrega scroll vertical si el contenido es más largo que el área visible */
    height: calc(100vh - 100px); /* Ajusta la altura para que ocupe el resto de la ventana después de los títulos */
    padding-top: 10%; /* Asegura que el contenido no se oculte debajo de los títulos fijos */
    transition: opacity 2s ease;
    margin-top: 0;
    overflow-x: hidden;

}

.titles {
    transition: opacity 2s ease;
  }
  
  .titles.hide {
    opacity: 0;
  }
  
  .titles.show {
    opacity: 1;
  }

  .no-reportes-message2{
    z-index: 100;
    margin-top: -1.5rem;
    width: 30%;
    position: absolute;
    color: var(--text-color);
    text-align: center;
  }

  .Oculto{
    display: none;
  }
  ::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de la esquina de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9; /* Color de la barra de desplazamiento al pasar el mouse sobre ella */
}

@media (max-width: 1150px){
    .fotografía-favs{
        height: 42vh;
        width: 100%;
        margin-right: 10px;
    }

    .fotografía-favs img{
        height: 100%;
        width: 100%;
        background-position: center;
    }

    .box-ubi-favs{
        font-size: 13px;
    }

    .box-des-favs{
        font-size: 13px;
    }
}

@media (max-width: 970px){
    .box2-favs{
        display: block; 
        border-radius: 4vh;       
    }

    .column-favs-left{
        width: 100%;
        margin-bottom: 0;
        display: flex;
    }

    .fotografía-favs{
        height: 20vh;
        width: 120%;
        margin-right: 10px;
    }

    .fotografía-favs img{
        height: 100%;
        width: 100%;
        background-position: center;
    }

    .column-favs-left-inferior{
        display: block;
        margin-bottom: 0;
    }

    .contador-favs{
        display: flex;
    }

    .icon-favs{
        margin-left: 20px;
        margin-right: 10px;

    }

    .column-favs-right{
        width: 100%;
        margin-left: -.5%;
    }

    .column-favs-right-superior{
        margin-top: -15%;
    }

    .ubicacion-favs{
        margin-bottom: 0;
    }

    .descripcion-favs{
        margin-top: -10%;
    }
}

@media (max-width: 800px) {
    
    .container-tipos-favs {
        display: none; /* Ocultar las columnas en dispositivos móviles */
    }

    .column-favs {
        display: none; /* Inicialmente ocultar todas las columnas en dispositivos móviles */
    }

    .column-favs.show {
        display: block; /* Mostrar la columna seleccionada */
        width: 100%; 
    }

    
  .no-reportes-message2{
    z-index: 100;
    margin-top: 1rem;
    width: 87vw;
    position: absolute;
    color: var(--text-color);
    text-align: center;
    display: block;
  }

  .Oculto{
    display: flex;
    margin-top: 1rem;
    width: 85vw;
  }

  .tab-four #line {
    stroke: var(--background-color);
        }#_Path_2{
          fill-opacity:0.5
        }
  .tab-four #line2 {
    stroke-dasharray: 2000;
    stroke: #ff9f49;
    animation-name: dash;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    transform-origin: center center;
  }
  .tab-four #marker {
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    transform-origin: center center;
  }
  .tab-four #search {
    animation-name: bounceIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    transform-origin: center center;
  }
  
  @keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      opacity: 1;
      transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      opacity: 1;
      transform: scale3d(1, 1, 1);
    }
  }
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: -300;
      fill-opacity: 0;
    }
    100% {
      stroke-dashoffset: 0;
      fill-opacity: 1;
    }
  }
        .cls-1,
        .cls-2,
        .cls-4,
        .cls-5 {
          fill: var(--background-color);
        }
        
        .cls-1,
        .cls-2,
        .cls-7 {
          stroke: #ff9f49;
        }
        
        .cls-1,
        .cls-2,
        .cls-3,
        .cls-4,
        .cls-6,
        .cls-7 {
          stroke-miterlimit: 10;
        }
        
        .cls-1 {
          stroke-width: 0.5px;
          opacity: 0.8;
        }
        
        .cls-2,
        .cls-3,
        .cls-4 {
          stroke-width: 0.8px;
        }
        
        .cls-3 {
          stroke: #ff9f49;
        }
        
        .cls-4,
        .cls-6 {
          stroke: #ff9f49;
        }
        
        .cls-5 {
          opacity: 0.2;
        }
        
        .cls-6 {
          fill: #ff9f49;
          stroke-width: 0.3px;
        }
        
        .cls-7 {
          fill: none;
          stroke-width: 0.6px;
          stroke-dasharray: 2;
        }

        .tab-four #line {
            stroke: var(--background-color);
                }#_Path_2{
                  fill-opacity:0.5
                }
          .tab-four #line2 {
            stroke-dasharray: 2000;
            stroke: #ff9f49;
            animation-name: dash;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: linear;
            transform-origin: center center;
          }
          .tab-four #marker {
            animation-name: bounceIn;
            animation-duration: 1s;
            animation-delay: 1s;
            animation-fill-mode: both;
            animation-timing-function: linear;
            transform-origin: center center;
          }
          .tab-four #search {
            animation-name: bounceIn;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-timing-function: linear;
            transform-origin: center center;
          }
          .tab-four #cloud1 {
            animation-name: clouds;
            animation-duration: 4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: center center;
            animation-direction: reverse;
          }
          .tab-four #cloud2 {
            animation-name: clouds;
            animation-duration: 4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: center center;
            animation-direction: reverse;
          }
          .tab-four #cloud3 {
            animation-name: clouds;
            animation-duration: 4s;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            transform-origin: center center;
          }
          
          @keyframes bounceIn {
            from, 20%, 40%, 60%, 80%, to {
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            }
            0% {
              opacity: 0;
              transform: scale3d(0.3, 0.3, 0.3);
            }
            20% {
              transform: scale3d(1.1, 1.1, 1.1);
            }
            40% {
              transform: scale3d(0.9, 0.9, 0.9);
            }
            60% {
              opacity: 1;
              transform: scale3d(1.03, 1.03, 1.03);
            }
            80% {
              transform: scale3d(0.97, 0.97, 0.97);
            }
            to {
              opacity: 1;
              transform: scale3d(1, 1, 1);
            }
          }
          @keyframes dash {
            0% {
              stroke-dashoffset: -300;
              fill-opacity: 0;
            }
            100% {
              stroke-dashoffset: 0;
              fill-opacity: 1;
            }
          }
          
                .cls-1,
                .cls-2,
                .cls-4,
                .cls-5 {
                  fill: var(--background-color);
                }
                
                .cls-1,
                .cls-2,
                .cls-7 {
                  stroke: #ff9f49;
                }
                
                .cls-1,
                .cls-2,
                .cls-3,
                .cls-4,
                .cls-6,
                .cls-7 {
                  stroke-miterlimit: 10;
                }
                
                .cls-1 {
                  stroke-width: 0.5px;
                  opacity: 0.8;
                }
                
                .cls-2,
                .cls-3,
                .cls-4 {
                  stroke-width: 0.8px;
                }
                
                .cls-3 {
                  fill: #ffb753;
                  stroke: #ff9f49;
                }
                
                .cls-4,
                .cls-6 {
                  stroke: #ff9f49;
                }
                
                .cls-5 {
                  opacity: 0.2;
                }
                
                .cls-6 {
                  fill: #FFC779;
                  stroke-width: 0.3px;
                }
                
                .cls-7 {
                  fill: none;
                  stroke-width: 0.6px;
                  stroke-dasharray: 2;
                }
}


.menu-mobile {
    display: none; /* Ocultar el menú en pantallas grandes */
    margin: 20px;
    margin-bottom: 4%;
    padding: 0;
    top: 0;
    margin-top: 6rem;
    overflow-x: hidden;
}

@media (max-width: 800px) {
    .menu-mobile {
        display: block; /* Ocultar el menú en pantallas grandes */
        margin: 20px;
        box-sizing: border-box;
        padding: 0;
        top: 0;
        overflow-x: hidden;
    }

    #select-edo{
        color: #FF9F49;
        font-family: "Baloo Thambi 2", system-ui;
        font-size: 15px;
        font-weight: bold;
        font-size: 20px;
        
    }

    #column-select {
        width: 100%;
        padding: 10px;
        font-size: 1.15rem;
        border-radius: 10px;
        border: 2px solid #949494;
        font-family: "Baloo Thambi 2", system-ui;
        transition: .5s;
        color: var(--text-color);
        background-color: var(--background-color-2);
    }

    #column-select:hover{
        border: 2px solid #FF9F49;
    }

    .reportes-boxes-favs{
        flex: 1;
        overflow-y: auto; /* Agrega scroll vertical si el contenido es más largo que el área visible */
        width: 100%;
        overflow-x: hidden;
    }

    .container-reportes-favs {
        margin-bottom: 10%;
    }

    .column-favs{
        margin-bottom: 50%;
    }

    .box2-favs{
        break-inside: avoid; /* Evita que los divs se rompan en medio de las columnas */
        width: 100%;
        padding: 6%;
        border-radius: 6vh;
        margin-bottom: 10%;
        background-color: var(--background-color-2);
        display: flex;
        box-sizing: border-box;
    }

    .column-favs-left{
        width: 45%;
        height: 100%;
        display: block;
    }
    
    .fotografía-favs{
        width: 100%;
        height: 40vh;
        border-radius: 1rem;
        margin-bottom: 15px;
    }

    .fotografía-favs img{
        height: 100%;
        width: 100%;
        background-position: center;
    }
    
    .column-favs-left-inferior{
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contador-favs{
        margin-left: 10%;
        margin-top: 15%;
        width: 20%;
        display:inline-block;
        align-items: center;
        justify-content: center;
        color:#949494;
        font-weight:900;
    }

    .icon-favs{
        margin-left: 0;
        margin-right: 0;

    }

    .icon-favs{
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        height: 70%;
        width: 100%;
    }

    .column-favs-right{
        width: 50%;
        margin-left: 5%;
        padding: 0;
        height: auto;
        position: relative;
        
    }
    
    .column-favs-right-superior{
        width: 100%;
        display: flex;
        height: 40px;
        margin-top: 0;
        position: absolute;
    }

    .ubicacion-favs{
        width: 100%;
        height: 30%;
        display: block;
        margin-bottom: 30%;
    }
}


.estado-favs {
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .estado-sin-atender {
    background-color: #FF5136;
  }
  
  .estado-en-atencion {
    background-color: #FFC63D;
    color: black;
  }
  
  .estado-atendidos {
    background-color: #A4DF77;
  }

@media(max-width: 600px){
    .titles {
        width: 93%;
        padding:1.5rem;
        box-sizing: border-box;
        height: auto;
        border-radius: 4vh;
        margin-left: 3vw;
        background-color: var(--background-color-2);
        position: relative;
    }

    #title-main{
        color: #FFC63D;
        font-family: "Baloo Thambi 2", system-ui;
        font-weight: 600;
        margin-left: 2.5vw;
        font-size: 22px;
    }

    #textito{
        color: var(--text-color);
        font-family: "Baloo Thambi 2", system-ui;
        font-weight: 500;
        margin-top: -10px;
        margin-left: 2.5vw;
        font-size: 18px;
    }

    .body-favoritos{
        margin-left: 5vw;
        margin-right: 5vw;
        margin-left: 1.5vw;
        background-color: red;
        height: 100vh;
        width: 95vw;
        background-color: var(--background-color);
        overflow-x: hidden;
        overflow-y: hidden;
        font-family: 'Inter UI', sans-serif;
        scroll-behavior: smooth;
    }

    .menu-mobile {
        display: block; /* Ocultar el menú en pantallas grandes */
        margin: 20px;
        box-sizing: border-box;
        padding: 0;
        top: 0;
        overflow-x: hidden;
    }

    #column-select {
        width: 100%;
        padding: 10px;
        font-size: 1.15rem;
        border-radius: 10px;
        border: 2px solid #949494;
        font-family: "Baloo Thambi 2", system-ui;
        transition: .5s;
        color: var(--text-color);
        background-color: var(--background-color-2);
    }

    #column-select:hover{
        border: 2px solid #FF9F49;
    }

    .ubicacion-favs{
        width: 100%;
        height: 40%;
        display: block;
        margin-bottom: 40%;
    }
    .ubicacion-favs{
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: 0;
    }

    .descripcion-favs{
        margin-top: -20%;
        margin-bottom: 20%;
    }

    .fotografía-favs {
        height: 33vh;
    }
}