.container-mapa-admin{
 margin-left: 1rem;
 width: 90vw;
 margin-top: 10vh;
 height: 87vh;
 display: block;
}

.filtros2{
 width: 70%;
 height: 8vh;
 background-color: #F1F1F1;
 margin-bottom: 2vh;
 border-radius: 1.5rem;
 align-items: center;
 display: flex;
 position: relative;
 z-index: 1000;
}

.filtros2 img{
    width: 1.7rem;
}

.mapita{
    position: relative;
    z-index: 10;
}

.container-graphics{
    background-color: rgba(255, 0, 0, 0);
    position: fixed;
    top: 27vh;
    z-index: 1000;
    right: 8vw;
}

.btn-ocultar{
    border: none;
    right: 8.2vw;
    position: fixed;
    top: 20vh;
    z-index: 1000;
    padding: 10px;
    border-radius: 5rem;
    background-color: #ff9f49;
    color: white;
}