body {
    font-family: 'Poppins', sans-serif;
    
  }

  .main-containerReportes{
    margin-left: 1rem;
    background-color: #c0000000;
    width: 90vw;
    height: 85vh;
    z-index: 100;
    position: relative;
    overflow-y: auto;
    top: -5vh;
}

  table {
    width: 100%;
    border-collapse:separate;
 border-radius: 2rem;
  }

  .sticky-top{
    border-radius: 2rem;
    position: sticky;
    top: 0;
  }
  th, td {
    text-align: left;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: .3rem solid #ffffff ;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
  }
  th {
    padding-top:4px;
    padding-bottom: 4px;
    background-color: #FF9F49;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
  }

  td{
    border-top: .3rem solid #ffffff ;
    background-color: #f1f1f1;
    padding-left: 12px;
    padding-right: 12px;
    height: 60px;
  }

  tr:last-child td {
    border-bottom: none;
  }
  
  .eliminar {
    display: none;
    transition: .8s;
}

.eliminar-header {
    transition: .8s;
    display: none;
}

.Reportes:hover .eliminar {
    transition: .8s;
    display: table-cell;
}

.show-header .eliminar-header {
    transition: .8s;
    display: table-cell;
}

.btn-eliminarRP{
  border: none;
  width: 100%;
  height: 2rem;
  cursor: pointer;
}

.btn-eliminarRP img{
  height: 100%;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de la esquina de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9; /* Color de la barra de desplazamiento al pasar el mouse sobre ella */
}

.filtros2{
  width: 70%;
  height: 8vh;
  background-color: #F1F1F1;
  margin-bottom: 2vh;
  border-radius: 1.5rem;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1000;
 }
 
 .filtros2 img{
     width: 1.7rem;
 }

.alerta-custom{
  z-index: 100000;
  position: fixed;
  width: 90vw;
  height: 80vh;
  top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alerta-contenido{
  background-color: #ffffffcb;
  backdrop-filter: blur(5px); 
  padding: 20px;
  border-radius: 1rem;
  width: 25vw;
  margin-left: 8vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: justify;
  border: 2px solid #ffffff;
}

.titulooo{
  color: #FF9F49;
  font-size: 1.4rem;
}

.textooo{
  color: #6F6F6F;
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
}

.opc-cambios1{
  background-color: #FF674F;
  padding: 10px;
  border: 1px solid #FF674F;
  border-radius: 2rem;
  color: white;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
  width: 28%;
}

.opc-cambios1:hover{
  background-color: #ffffff;
  border: 1px solid #FF674F;
  color: #FF674F;
  transition: .3s;
}

.opc-cambios2{
  background-color: #FFC63D;
  padding: 10px;
  border: 1px solid #FFC63D;
  border-radius: 2rem;
  color: white;
  width: 28%;
  transition: .3s;
  cursor: pointer;
  margin-right: 10px;
}

.opc-cambios2:hover{
  background-color: #ffffff;
  border: 1px solid #FFC63D;
  color: #FFC63D;
  transition: .3s;
}

.opc-cambios3{
  background-color: #A4DF77;
  padding: 10px;
  border: 1px solid #A4DF77;
  border-radius: 2rem;
  width: 28%;
  transition: .3s;
  cursor: pointer;
  color: white;
}

.opc-cambios3:hover{
  background-color: #ffffff;
  border: 1px solid #A4DF77;
  color: #A4DF77;
  transition: .3s;
}

.boton-aceptar {
  cursor: pointer;
  margin-top: 10px;
  border: solid 1px #FF9F49;
  background-color: white;
  font-weight: bolder;
  padding: 10px;
  border-radius: 2rem;
  color: #FF9F49;
  width: 90%;
  transition: .3s;
}

.boton-aceptar:hover {
  border: solid 1px #ffffff;
  background-color: #FF9F49;
  transition: .3s;
  color: #ffffff;
}

.boton-cerrar{
  background: none;
  border: none;
  position: fixed;
  margin-right: 0;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.boton-cerrar img{
  width: 15px;
}

.alerta-custom2{
  z-index: 100000;
  position: fixed;
  width: 90vw;
  height: 80vh;
  top: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alerta-contenido2{
  background-color: #ffffffcb;
  backdrop-filter: blur(5px); 
  padding: 20px;
  border-radius: 1rem;
  width: 25vw;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-justify: justify;
  border: 2px solid #ffffff;
}

.boton-eliminar{
  padding: 10px;
  border-radius: 2rem;
  margin-right: 10px;
  cursor: pointer;
  transition: .3s;
  width: 33%;
  border: 1px solid #FF674F;
  color: white;
  background-color: #FF674F;
}

.boton-eliminar:hover{
  border: 1px solid #FF9F49;
  color: white;
  background-color: #FF9F49;
  transition: .3s;
}

.boton-cancelar{
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #FF674F;
  color: #FF674F;
  border-radius: 2rem;
  width: 33%;
  transition: .2s;
  cursor: pointer;
  margin-right: 10px;
}

.boton-cancelar:hover{
  
  background-color: #ffffff;
  border: 1px solid #6F6F6F;
  color: #6F6F6F;
  transition: .3s;
}