
@import url('https://rsms.me/inter/inter-ui.css');
body, div{
  transition: none ;
}

.page-adminLogin {
  font-family: 'Inter UI', sans-serif;
  background: #e9232300;
  display: flex;
  top: 13vh;
  flex-direction: column;
  height: calc(80% - 40px);
  position: absolute;
  place-content: center;
  width: calc(100% - 40px);
  z-index: 1000;
}

.container-adminLogin {
  display: flex;
  height: 50vh;
  margin: 0 auto;
  width: 45vw;
}

.left {
  background: #FF9F49;
  height: calc(100% - 40px);
  top: 20px;
  position: relative;
  width: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.login {
  font-size: 50px;
  font-weight: 900;
  margin: 50px 40px 40px;
  color: #fff;
  display: flex;
  align-items: center;
}

.eula {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.5;
  margin: 40px;
  margin-top: -18px;
}

.emoji{
    font-size: 35px;
    right: 50px;
}

.right {
  background: var(--background-color);
  border: 2px solid #FF9F49;
  position: relative;
  width: 50%;
  border-radius: 1rem;
}

.container-adminLogin svg {
  position: absolute;
  min-width: 320px;
  width: 100%;
  margin-top: -10px;
}

.centered{
  width: 75%;
}

.container-adminLogin path {
  fill: none;
  stroke: url(#linearGradient);;
  stroke-width: 4;
  stroke-dasharray: 240 1386;
}

.centered {
  margin: 40px;
  position: absolute;
}

.container-adminLogin label {
  color:  var(--text-color);
  display: block;
  font-size: 14px;
  height: 16px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.container-adminLogin input {
  background: transparent;
  border: 0;
  color: var(--text-color);
  font-size: 17px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid var(--background-color-2);
  outline: none !important;
  width: 100%;
}

.container-adminLogin input::-moz-focus-inner { 
  border: 0; 
}

#iniciarSesion-btn-admin button{
  line-height: 30px;
  outline: none !important;
}

#iniciarSesion-btn-admin {
  color: #949494;
  background-color: #94949400;
  font-size: 20px;
  margin-top: 40px;
  transition: color 300ms;
  height: 30px;
  width: 100%;
  border: none;
}

#iniciarSesion-btn-admin:focus {
  color: #FFC537;
}

#iniciarSesion-btn-admin:active {
  color: #FF4D35;
}

.toggle-password{
  background: none;
  border: none;
  position: absolute;
  right: 0;
  margin-top: -30px;
}

.toggle-password img{
 width: 25px;
 height: 25px;
}

@media(max-width:1500px){
  .container-adminLogin {
    display: flex;
    height: 50vh;
    margin: 0 auto;
    width: 50vw;
  }
}


@media(max-width:1200px){
  .container-adminLogin {
    display: flex;
    height: 50vh;
    margin: 0 auto;
    width: 55vw;
  }

  .container-adminLogin svg {
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin-top: 0px;
  }
}

@media(max-width:1000px){
  .container-adminLogin {
    display: flex;
    height: 50vh;
    margin: 0 auto;
    width: 70vw;
  }

  .container-adminLogin svg {
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin-top: -5px;
  }
}

@media(max-width:900px){

  .container-adminLogin svg {
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin-top: 2px;
  }
}

@media(max-width:800px){
  .container-adminLogin {
    display: flex;
    height: 50vh;
    margin: 0 auto;
    width: 80vw;
  }

  .container-adminLogin svg {
    position: absolute;
    min-width: 220px;
    width: 100%;
  }

  .centered{
    margin-top: 40px;
  }
  #margin{
    margin-top: 10px;
  }

  #iniciarSesion-btn-admin{
    margin-top: 41px;
  }
}

@media(max-width:700px){
  .centered{
  margin-top: 20px;
}
#margin{
  margin-top: 10px;
}

#iniciarSesion-btn-admin{
  margin-top: 21px;
}
}


@media (max-width: 600px) {
  .page-adminLogin {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .container-adminLogin {
    flex-direction: column;
    height: 60vh;
    width: 80vw;
  }

  .left {
    height: 50%;
    left: 20px;
    width: calc(100% - 40px);
    max-height: 270px;
  }

  .right {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    max-height: 350px;
  }

  .left{
    border-bottom-left-radius: 0rem;
    border-top-right-radius: 2rem;
  }

  .container-adminLogin svg {
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin-top: -60px;
  }
  .centered{
    width: 80%;
  }

  #margin{
    margin-top: 40px;
  }

  #iniciarSesion-btn-admin{
    margin-top: 75px;
  }
}

@media(max-width:500px){
  .container-adminLogin   svg {
    position: absolute;
    min-width: 320px;
    width: 100%;
    margin-top: -10vh;
  }
}