#map {
    border-radius: 2rem;
    transition: none !important;
  }

  .mapcontainer{
    height: 72vh;
          width: 59vw;
  }

  @media(max-width: 600px){
    .mapcontainer{
      width: 95vw;
    height: 80vh;

    }
  }

  @media(max-width: 500px){
    .mapcontainer{
      width: 95vw;
    height: 53vh;

    }
  }