.container{
  display: flex;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  width: 100vw;
  transition: none;
  margin-top: 12vh;
}

.izquierda-mapa{
  width: 37vw;
  margin-right: 1vw;
  margin-left: 1vw;
  position: relative;
  display: block;
}

.filtros{
  width: 100%;
  height: 10vh;
  background-color: var(--background-color-2);
  margin-bottom: 1rem;
  border-radius: 1.5rem;
}

.totalReportes{
  margin-bottom: 1rem;
  width: 100%;
  height: 25vh;
}

.encabezado{
  width: 100%;
  height: 40%;
  background-color: var(--background-color-2);
  border-radius: 1rem;
  margin-bottom: 2.5%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.encabezado h1{
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 600;
}

.contador{
  color: #FF4D35;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight:800;
}

.estados{
  width: 100%;
  display: flex;
  height: 52%;
}

.in-red{
  width: 32%;
  height: 100%;
  background-color:var(--background-color-2);
  border-radius: 1rem;
  align-items: center;
  display:block;
  justify-content: center;
}

.red{
  width: 70%;
  height: 23%;
  margin-left: 15%;
  border-radius: 1rem;
  background-color: #FF5136;
  margin-top: 7%;
  margin-bottom: 2%;
  color: var(--text-color);
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #dcdcdc96;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color-5);
  text-align: center;
  border-radius: 1rem;
  padding: 5px 0;

  /* Posición absoluta */
  position: absolute;
  z-index: 10;
}

/* Hacer que aparezca cuando el cursor está sobre el elemento */
.red:hover .tooltip {
  visibility: visible;
}

.yellow:hover .tooltip {
  visibility: visible;
}

.green:hover .tooltip {
  visibility: visible;
}
/* Posición del span de la leyenda */
.tooltip {
  transform: translateY(-120%);
}

.cont-reportes{
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin-left: 10%;
  font-weight: 900;
}

.in-yellow{
  width: 32%;
  height: 100%;
  margin-left: 2%;
  background-color:var(--background-color-2);
  border-radius: 1rem;
  align-items: center;
  display:block;
  justify-content: center;
}

.yellow{
  width: 70%;
  height: 23%;
  margin-left: 15%;
  border-radius: 1rem;
  background-color: #FFC63D;
  margin-top: 7%;
  margin-bottom: 2%;
}

.in-green{
  width: 32%;
  height: 100%;
  margin-left: 2%;
  background-color:var(--background-color-2);
  border-radius: 1rem;
  align-items: center;
  display:block;
  justify-content: center;
}

.green{
  width: 70%;
  height: 23%;
  margin-left: 15%;
  border-radius: 1rem;
  background-color: #A4DF77;
  margin-top: 7%;
  margin-bottom: 2%;
}

.estadisticas{
  width: 100%;
  height: 45vh;
  border-radius: 1.5rem;
  background-color: var(--background-color-2);
}

.mapa {
    position: relative;
  }
  

.custom .leaflet-popup-tip,
    .custom .leaflet-popup-content-wrapper {
        background: #Ffd100;        /*este es el color de fondo de la descripción*/
        color: #000;                /*este es el color de letra de la descripción*/
    }

    
  .reportito-popup{
    display: flex;
  }

  .leaflet-popup-content-wrapper {
    width: 250px !important;
    max-width: 250px !important;
    height: 200px !important;
    background-color: #ffffffa6 !important;
    max-height: 200px !important;
    backdrop-filter: blur(2px) !important;
}


.leaflet-popup-tip-container .leaflet-popup-tip{
    background-color: #ffffff9a !important;
    backdrop-filter: blur(3px) !important;
}

.fecha-popup{
    width: 120px;
    left: 125px;
    top: 0;
    position: fixed;
  }

  .estado-popup{
    width: 120px;
    left: 125px;
    top: 22px;
    position: fixed;
  }

  .descripcion-popup{
    width: 120px;
    left: 125px;
    top: 55px;
    position: fixed;
  }