body {
    font-family: 'Poppins', sans-serif;
    
  }

  .main-containerReportes{
    margin-left: 1rem;
    background-color: #c9c9c9;
    width: 90vw;
    margin-top: 10vh;
    height: 87vh;
    z-index: 100;
    position: relative;
    overflow-y: auto;
}

  table {
    width: 100%;
    border-collapse:separate;
 border-radius: 2rem;
  }

  

  .sticky-top{
    border-radius: 2rem;
    position: sticky;
    top: 0;
  }
  th, td {
    text-align: left;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-right: .3rem solid #ffffff ;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    text-align: center;
  }
  th {
    padding-top:4px;
    padding-bottom: 4px;
    background-color: #FF9F49;
    color: #ffffff;
    padding-left: 12px;
    padding-right: 12px;
  }

  td{
    border-top: .3rem solid #ffffff ;
    background-color: #f1f1f1;
    padding-left: 12px;
    padding-right: 12px;
    height: 60px;
  }

  tr:last-child td {
    border-bottom: none;
  }
  
  .eliminar {
    display: none;
    transition: .8s;
}

.eliminar-header {
    transition: .8s;
    display: none;
}

.Reportes:hover .eliminar {
    transition: .8s;
    display: table-cell;
}

.show-header .eliminar-header {
    transition: .8s;
    display: table-cell;
}

.btn-eliminarRP{
  border: none;
  width: 100%;
  height: 2rem;
}

.btn-eliminarRP img{
  height: 100%;
}

::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Radio de la esquina de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background: #c9c9c9; /* Color de la barra de desplazamiento al pasar el mouse sobre ella */
}

.filtros2{
  width: 70%;
  height: 8vh;
  background-color: #F1F1F1;
  margin-bottom: 2vh;
  border-radius: 1.5rem;
  align-items: center;
  display: flex;
  position: relative;
  z-index: 1000;
 }
 
 .filtros2 img{
     width: 1.7rem;
 }